# don't push project files
*.cbp
*.sln
*.vcx*
*.workspace*
config.make
Makefile
*.xcodeproj
*.plist
*.xcconfig
*.suo
*.db
*.opendb

*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
*.xcworkspacedata
xcuserdata/
project.xcworkspace

*.opensdf
*.sdf
*.suo
*.ipch

.svn/
.vs
obj/
build/

ofxOscBroadcast/bin/*
!ofxOscBroadcast/bin/data
ofxOscBroadcastReceiver/bin/*
!ofxOscBroadcastReceiver/bin/data